/* Importación de fuente desde Google Fonts */

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;500&display=swap');

/* Definición de variables de color */

 :root {
    --primary-color: #003566;
    --secondary-color: #000814;
    --accent1-color: #FFD60A;
    --accent2-color: #FFC300;
    --heading-font: 'Noto Sans', sans-serif;
    --paragraph-font: 'Oswald', sans-serif;
    --nav-background-color: #FFD60A;
    --nav-link-color: #000814;
    --nav-hover-link-color: #FFC300;
    --nav-hover-background-color: #001d3d;
}


/* Estilos generales */

body {
    font-family: var(--paragraph-font);
    margin: 0;
    padding: 0;
}


/* Limitar el ancho de la página */

body {
    font-family: var(--paragraph-font);
    padding: 0;
    max-width: 8400px;
    /* Ajusta el valor según tus necesidades */
    margin: 0 auto;
    /* Centrar la página en la pantalla */
}


/* O si prefieres limitar solo el ancho del contenido principal (main) */

main {
    max-width: 1400px;
    /* Ajusta el valor según tus necesidades */
    margin: 0 auto;
    /* Centrar la página en la pantalla */
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

header {
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 420px 3fr 1fr;
    align-items: center;
    border-bottom: 1px solid #ccc;
    max-width: 1400px;
}

nav {
    font-size: 26px;
}

nav a:link,
nav a:visited {
    color: var(--nav-link-color);
}


/* Aplicar estilos flexibles al menú de navegación */

.navigation {
    display: flex;
    list-style: none;
    /* Eliminar los puntos de la lista */
    padding: 0;
    text-align: right;
    /* Eliminar el relleno predeterminado de la lista */
}

.navigation a {
    display: block;
    color: navy;
    padding: 20px;
    text-decoration: none;
}


/* Estilo para cada elemento de la lista (cada enlace) */

.navigation li {
    flex: 1 1 100%;
}


/* Eliminar subrayados de enlaces de navegación */

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}

.logo {
    margin: 2px 0.25rem 0 1rem;
    /* Ajuste en la propiedad margin */
    width: 150px;
    height: auto;
    justify-self: end;
    /* Mueve el elemento a la izquierda */
}


/* Contenedor de héroe */


/* Estilo para el contenedor principal con posición relativa */

.hero {
    position: relative;
}


/* Estilo para la imagen del héroe dentro del contenedor */

.hero img {
    display: block;
    width: 100%;
    height: auto;
}


/* Estilo para el encabezado h1 posicionado absolutamente */


/* Estilo para el encabezado h1 posicionado absolutamente */

.hero h1 {
    position: absolute;
    top: 5%;
    /* Ajusta según sea necesario */
    left: 50%;
    /* Ajusta según sea necesario */
    transform: translate(-50%, -50%);
    background-color: rgba(255, 214, 10, 0.7);
    /* Color de fondo con opacidad */
    padding: 10px;
    /* Ajusta según sea necesario para el espacio interior */
    color: #fff;
    /* Color del texto */
    font-size: 54px;
    /* Ajusta según sea necesario para el tamaño del texto */
    width: 100%;
    /* Hace que el fondo cubra todo el ancho del contenedor */
    text-align: center;
    /* Centra el texto horizontalmente */
}


/* Estilo para el artículo posicionado absolutamente */

.hero article {
    /*position: absolute;*/
    /*top: 60%;*/
    /* Ajusta según sea necesario */
    /*left: 50%;*/
    /* Ajusta según sea necesario */
    /*transform: translate(-50%, -50%);*/
    background-color: rgba(0, 53, 102, 0.7);
    ;
    /* Azul con transparencia */
    ;
    /* Color de fondo con opacidad */
    /*padding: 100px;*/
    /* Ajusta según sea necesario para el espacio interior */
    width: 100%;
    /* Ajusta según sea necesario */
    color: #fff;
}


/* Estilo para el párrafo dentro del artículo */

.hero article p {
    float: left;
    width: 50%;
    /* Ajusta según sea necesario para el espacio entre el texto y la imagen */
}


/* Estilo para la imagen dentro del artículo flotando a la derecha */

.hero article img {
    float: right;
    width: 30%;
    border-radius: 10px;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    /* Ajusta según sea necesario para el tamaño de la imagen */
}


/* Estilo para la sección "Adventure Awaits You!" */

section {
    display: flex;
    flex-direction: row;
    /* Asegura que los elementos estén dispuestos en una columna */
    /*align-items: center;*/
    /* Centra los elementos horizontalmente */
    /*text-align: center;*/
    /* Centra el texto horizontalmente */
}

.history {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* Tres columnas iguales */
    width: 1345px;
    margin: 10px auto;
    /* Ajustado el margen para centrar en el eje horizontal */
    border: 1px solid rgba(0, 0, 0, .1);
    padding: 15px;
    background-color: #ffc300;
    color: #fff;
    text-align: center;
    /* Centra el texto horizontalmente */
    place-items: center;
    /* Centra todos los elementos vertical y horizontalmente */
    /* Establece un ancho máximo para las imágenes */
    margin-bottom: 90px;
}


/* Ajuste para el estilo del título */

.history p {
    max-width: 400px;
    /* Ancho máximo para los párrafos */
    /* Ajusta según sea necesario */
}


/* Ajustes para la imagen */

.history img {
    max-width: 100%;
    /* Asegura que la imagen no exceda el ancho del contenedor */
    border-radius: 10px;
    width: 350px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    /* Ajusta según sea necesario */
    background-color: rgba(0, 53, 102, 0.7);
}

figure {
    border: thin #c0c0c0 solid;
    display: flex;
    flex-flow: column;
    padding: 5px;
    max-width: 320px;
    margin: auto;
}

.adventure {
    max-width: 260px;
    max-height: 300px;
}

figcaption {
    background-color: #ffc300;
    color: #fff;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
}

.footer-1 {
    margin-top: 20px;
    /* Ajusta el valor según sea necesario */
    background-color: #FFD60A;
    color: #003566;
    padding: 20px;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: space-between;
}

.footer-content p {
    margin: 0;
    text-align: center;
    /* Elimina el margen predeterminado del párrafo */
}

.social-icons {
    display: flex;
    gap: 10px;
    display: flex;
    justify-content: flex-end;
    /* Espacio entre los iconos */
}

.social-icons a {
    text-decoration: none;
}


/* Ajusta el tamaño de los iconos */

.social-icons a.class-icons img {
    width: 30px;
    /* Ajusta el tamaño según tus necesidades h*/
    height: auto;
    vertical-align: middle;
}

div.contact-container {
    display: flex;
    max-width: 1400px;
    /* Ajusta el valor según tus necesidades */
    margin: 0 auto;
    /* Centrar la página en la pantalla */
}

.contact-section {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.contact-info {
    flex: 1;
}

.employee-profiles,
.user-comment-form {
    margin-right: 20px;
    /* Adjust as needed */
}

.employee-profiles {
    justify-content: left;
}

form {
    width: 550px;
    margin: 0 auto;
    padding: 0.5rem;
    border: 1px solid #ffc300;
    border-radius: 0.5rem;
    background-color: #eee;
    display: grid;
}

fieldset {
    display: grid;
    grid-gap: 0.5rem;
    margin: 0.5rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 0.5rem;
}

legend {
    padding: 0.2rem;
    color: #003566;
    font: 1.3em;
}

label,
input,
button,
select,
textarea {
    font-family: 'Oswald', sans-serif;
}

label {
    text-align: right;
    padding: 0.4rem;
}

input,
select,
textarea {
    padding: 1rem;
    font-size: 0.1rem;
}

input[type="checkbox"] {
    width: 22px;
    height: 22px;
    vertical-align: bottom;
}

button {
    margin: 1rem;
    background-color: #003566;
    color: #fff;
    border: none;
    border-radius: .5rem;
    padding: .75rem;
    font-size: 0.9rem;
}

button:hover {
    background-color: #ffc300;
    color: #fff;
}

.form-item {
    display: grid;
    align-items: center;
}

.column1 {
    grid-template-columns: 3fr 1fr;
}

.column2 {
    grid-template-columns: 1fr 2fr;
}

.send-poll {
    text-align: center;
}

section h2 {
    text-align: center;
}